<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/LayoutPadrao">
<head></head>
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<h1>
			Pequisa de Cervejas
		</h1>
	</div>
</div>

<div class="container-fluid">

</div>

<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
</section>
</body>








